<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs', { title: 'Productos', stylesheet: 'products/productsList.css'}); %>
    </head>
    <body >
        <%- include('../partials/header.ejs') %>   
        <div class="container list">
            <div class="list-header">
                <h1 class = "titulo">Nuestros productos</h1>
            </div>
            <section>
                <% for ( let i=0; i<products.length;i++) { %> 
                    <article>
                        <a href="/products/<%= products[i].id %>"><img src="/uploads/products/<%= products[i].image %> "alt="<%= products[i].title %>"></a>
                        <div class="item-info">
                            <p class="name"><%= products[i].title %></p>
                            <p class="price">$<%= products[i].price %></p>
                            <% if (products[i].colores) { %>
                                <p class="color">$<%= products[i].colores.name %></p>
                            <% } %> 
                            <p class="categoria">$<%= products[i].categorias.name %></p>
                            
                            <% if (products[i].tamanos) { %>
                                <p class="tamano">$<%= products[i].tamanos.name %></p>
                            <% } %>
                            
                        </div>
                    </article>
                <% } %>
            </section>
        </div>  
        <%- include('../partials/footer.ejs') %>
    </body>
        
</html>


