<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Productos', stylesheet: 'products/productList.css'}); %>
    <body>
        <%- include('../partials/header.ejs') %>
        <h1 class = "titulo">Listado de productos</h1>
        <main>
        <section class="titulo">
            <h1>Productos</h1>
        </section>

        <section class="listado">
            <% for(let i = 0; i < productosEnLaVista.length; i++) { %>
                <article>
                    <h2><%= productosEnLaVista[i].name %></h2>
                    <p><%= productosEnLaVista[i].description %></p>
                    <p><%= productosEnLaVista[i].imagen %></p>
                    <button>Más info</button>
                </article>
            <% } %>
        </section>
        </main>
 
        <%- include('../partials/footer.ejs') %>
    </body>
</html>


