<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Productos', stylesheet: 'products/productsList.css'}); %>
    <body >
        <%- include('../partials/header.ejs') %>
        <% if ( usuarioLogueado && usuarioLogueado.email == 'admin@biogarden.com') { %>
        <div class="container list">
            <div class="list-header">
                <h1 class = "titulo">Tus Productos</h1>
                <a href="/products/create"><button>Crear nuevo producto</button></a>
            </div>
            <% for ( let i=0; i<products.lenght;i++){ %>  
            <div class="product-container">
                <img class="imagenListado" src="/uploads/productos/<%= products[i].image %> "alt="<%= products[i].title %>"></a>                
                <div class="productosListado">
                    <a href="/products/<%= products[i].id%>"><p><%= products[i].title %></p></a>
                    <p>$ <%= products[i].price %></p>
                    <p><%= products[i].categorias.name%></p>
                    <p class="descripcionProducto"><%= products[i].description %></p>                 
                </div>
                <div class="actions">
                    <a class="edit" href="/products/<%= products[i].id %>/edit">
                        <button><i class="fas fa-edit"></i> Editar</button>
                    </a>
                    <form class="delete" action="products/<%= products[i].id %>?_method=DELETE" method="POST">
                        <button type="submit"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </form>
                    
                </div>
            </div>
            <% } %>
        </div>  
        <% } else { %>      
        <div class="container list">
            <div class="list-header">
                <h1 class = "titulo">Nuestros productos</h1>
            </div>
            <section>
                <% for ( let i=0; i<products.lenght;i++) { %> 
                    <article>
                        <a href="/products/<%= products[i].id %>"><img src="/uploads/productos/<%= products[i].image %> "alt="<%= products[i].title %>"></a>
                        <div class="item-info">
                            <p class="name"><%= products[i].title %></p>
                            <p class="price">$<%= products[i].price %></p>
                            
                        </div>
                    </article>
                <% } %>
            </section>
        </div>  
        <% } %>           
        <%- include('../partials/footer.ejs') %>
    </body>
        
</html>


