<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs', { title: 'Productos', stylesheet: 'products/productsList.css'}); %>
    </head>
    <body >
        <%- include('../partials/header.ejs') %>   
        <div class="main-container container list">
            <div class="list-header">
                <h1 class = "titulo">Nuestros productos</h1>
            </div>
            <section>
                <% for ( let i=0; i<products.length;i++) { %> 
                    <article>
                        <a href="/products/<%= products[i].id %>"><img src="/uploads/products/<%= products[i].image %> "alt="<%= products[i].title %>"></a>
                        <div class="item-info">
                            <p class="name"><%= products[i].title %></p>
                            <p class="price">$<%= products[i].price %></p>
                            <% if (products[i].colores) { %>
                                <p class="color">$<%= products[i].colores.name %></p>
                            <% } %> 
                            <p class="categoria">$<%= products[i].categorias.name %></p>
                            
                            <% if (products[i].tamanos) { %>
                                <p class="tamano">$<%= products[i].tamanos.name %></p>
                            <% } %>
                            
                        </div>
                    </article>
                <% } %>
            </section>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>  
        <%- include('../partials/footer.ejs') %>
    </body>
        
</html>


