<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', { title: 'Descripcion del Producto', stylesheet: 'products/productDetail.css'}); %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <br>
    
    <div class ="container product">
        <div class="product-left-col">
            <img class="image" src="/uploads/products/<%= product.image %> "alt="<%= product.title %>">
            <h3>Descripción:</h3>
            <p class="desc-content"><%= product.description %></p>
            <h3>Dejános tu comentario:</h3>
            <form class="comments" action="/productDetail" method="POST">
                <textarea id="comment" name="comment" rows="1" placeholder="Escribí tu comentario..."></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="product-right-col">
            <h2 class="name"><%= product.title %></h2>
            <h2 class ="price">$<%= product.price %> </h2>
            <div class="promo">
                <p class="cuotas">18 cuotas de $<%= (product.price / 18).toFixed(2) %></p>
                <div class="cards">
                    <a href=""><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
                    <a href=""><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
                    <a href=""><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="product-payment-logos-img card-img lazyloaded"></a>
                    <a href=""><img src="/images/card.svg" alt=""></a>
                </div>

                <p><a href="#"><h4 class="titulo6">Ver medios de pago</h4></a></p>
            </div>
            <form class="add-to-cart" action="/products/carr/add" method="POST">
                <label for="Tamaño">Tamaño</label>
                <select id="tamano" name="tamano" >
                    <option value="S">Pequeño</option>
                    <option value="M">Mediano</option>
                    <option value="L">Grande</option>
                </select>
                <label for="cantidad">Cantidad</label>
                <input type="number" id="cantidad" name="cantidad" value=1 min="1">
                <button class="button-add" type="submit"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
            </form>
        </div>
        
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>