<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', { title: 'Busqueda', stylesheet: 'products/searchProduct.css'}); %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-container">
        <section class='busqueda'>
            <% if(productos.length<=0) {%> 
                <h1>¡No encontramos el productos que estas buscando!<br><br>Intenta nuevamente</h1>
            <% }else {%>
                <h1>Búsqueda: <%=queryString%></h1>
                <p><%= productos.length %>  resultados</p>
            <% } %> 
        </section>
        <section class="productoBuscado">
            <% for (let i=0; i< productos.length;i++){%>
                <article>
                    <img src="/uploads/products/<%=productos[i].image %>" alt="" class="img-thumbnail">
                    <h4><%=productos[i].title %></h2>
                    <a href=<%="/products/" + productos[i].id %>><button style="cursor:pointer" class="btn btn-primary center-block">Ver producto</button></a>
                </article>
            <% } %> 
        </section>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>