<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', { title: 'Crear cuenta', stylesheet: 'users/register.css'}); %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-container register">
       
        <h2>REGISTRATE</h2>
        <form  id ="form" action="" method="post" enctype="multipart/form-data"  >
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" name="name">
                <small class= "error" id="errornombre" style="color:red"><%=(locals.errors && errors.name) ? errors.name.msg : ""%></small>

                
            </div>
            <div class="form-group">
                <label for="last_name">Apellido</label>
                <input type="text" class="form-control" id="last_name" placeholder="Ingresa tu apellido" name="last_name">
                <small class= "error" id="errorapellido"style="color:red"><%=(locals.errors && errors.name) ? errors.name.msg : ""%></small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" name="email">
                <small class= "error" id="erroremail" style="color:red"><%=(locals.errors && errors.email) ? errors.email.msg : ""%></small>
            </div>
            <div class="form-group">
                <label for="pwd">Contrase単a</label>
                <input type="password" class="form-control" id="password" placeholder="Ingresa tu contrase単a" name="password">
                <small class= "error"id="errorcontrasena" style="color:red"><%=(locals.errors && errors.password) ? errors.password.msg : ""%></small>
            </div>
            <div class="form-group">
                <label for="pwd">Confirmar contrase単a</label>
                <input type="password" class="form-control" id="repassword" placeholder="Reingresa tu contrase単a" name="repassword">
                <small class= "error"id="errorcontrasena2" style="color:red"><%=(locals.errors && errors.repassword) ? errors.repassword.msg : ""%></small>
            </div>
            <div class="form-group">
                <label for="pwd">Foto de perfil</label>
                <input type="file" class="form-control-file" id="avatar" name="avatar">
            </div>
            <button type="submit" class="btn btn-success" id="submit">Registrarse</button>
            
        </form>

    </div>
   

    <%- include('../partials/footer.ejs') %>
    <script src= "/jsfront/validacionUsuario.js"></script>
</body>
</html>